<div class="inkwell_multi_selector" id="inkwell_<%= options[:id]%>">
  <span class="name"> <%= options[:name] %>: </span>
  <div class="action">
    <span class="action_name">Change</span>
    <span class="action_icon"></span>
    <div class="dropdown" style="display: none">
    <%= render :partial => 'default_partials/multi_selector_items', :locals => {:records => records, :id => nil, :selector_id => options[:id]} %>
    </div>
  </div>
  <div class="current_state">
    <% records.select {|record| record.parent_category_id == nil }.each do |record| %>
        <span id="<%= "inkwell_#{options[:id]}_state_#{record.id}" %>"><%= record.name %></span>
    <% end %>
  </div>
</div>